In [8]:
'''Purpose of this script is to clean and transform the first iteration of the EHS headcount data'''

import pandas as pd
import numpy as np

import re
import operator as op

In [9]:
# read in EHS/GS property list for property size, function, tier, location
prop = pd.read_excel('2017-09-11 EHS - Global Security Records of Interest.xlsx', header=7, skiprows=[0-7])
#prop.head()

In [10]:
# get building area by country
group1 = prop.groupby(['Building Country']).sum().round(1).reset_index()
group1.sort_values('Rentable Area', ascending= False)

   Building Country  Tier 1-5  Rentable Area
36              USA     413.0     37156550.2
20              JPN       8.0      1863361.7
35               UK      26.0       143834.8
29              PRI       2.0       116000.0
14              FRA      12.0        68115.0
9               DEU      26.0        51333.7
22              MEX      14.0        33713.6
4               BRA      14.0        30409.5
19              ITA       9.0        23422.3
24              NLD       2.0        21560.1
1               AUS       9.0        19353.5
5               CAN       5.0        17850.0
31              SGP       3.0        17730.2
7               CHN      11.0        14971.7
12              ESP       3.0        11269.8
16              IRL      10.0        10322.0
30              RUS       9.0         8611.1
21              KOR      10.0         8486.9
32              SWE       5.0         6985.8
15              IND       9.0         6496.2
6               CHE       5.0         4477.8
2               AUT       5.0         3883.0
27              PAK       5.0         3500.0
8               CUB       5.0         2626.4
17              IRN       5.0         2583.3
11              EGY       5.0         2475.7
25              NOR       5.0         1453.1
3               BEL       5.0         1334.7
33              THA       5.0          818.1
0               ARE       5.0          793.2
37              ZAF       5.0          652.3
13              FIN       5.0          204.5
23               MY       5.0          195.0
28              PHL       5.0          138.9
26              NZL      10.0            2.0
18              ISR       5.0            1.0
34               TR       5.0            1.0
10              DNK       5.0            1.0

In [11]:
risk = pd.read_excel("Country Risk Ratings June 2017.xlsx")
risk.head()

,Country,NC4,Control Risks,Foreign Affairs Canada,FCO UK,State Department,NBCU,Tier,Comments
0,Afghanistan,Extreme,Extreme,Extreme,Extreme,Extreme,High,Tier 1 (All),"Tier 1 (All) As of 21 March, The Department of..."
1,Albania,Medium,Low,Low,Medium,Medium,Medium,NaN,NaN
2,Algeria,High,High,High,High,High,High,Tier 1 (Outside of Algiers)\n,"Tier 1 (Outside of Algiers) As of 13 December,..."
3,American Samoa,NaN,Low,Low,Low,NaN,Low,NaN,NaN
4,Andorra,NaN,Low,Low,NaN,NaN,Low,NaN,NaN

In [12]:
risk = risk.drop(['NC4','Control Risks','Foreign Affairs Canada','FCO UK','Tier','Comments'],axis=1)
risk.head()

          Country State  Department    NBCU
0     Afghanistan           Extreme    High
1         Albania            Medium  Medium
2         Algeria              High    High
3  American Samoa               NaN     Low
4         Andorra               NaN     Low

In [13]:
# read in dataframe of country and abbreviation
country = pd.read_excel('country_abb.xlsx', skiprows=[1], names=('Country','Alpha2','CountryAbb','NumCode'))
country.head()

          Country Alpha2 CountryAbb  NumCode
0   Aland Islands     AX        ALA      248
1         Albania     AL        ALB        8
2         Algeria     DZ        DZA       12
3  American Samoa     AS        ASM       16
4         Andorra     AD        AND       20

In [14]:
country = country.drop(['Alpha2','NumCode'],axis=1)
country.head()

          Country CountryAbb
0   Aland Islands        ALA
1         Albania        ALB
2         Algeria        DZA
3  American Samoa        ASM
4         Andorra        AND

In [15]:
risk = risk.join(country.set_index("Country"), on= "Country")

In [16]:
risk = risk.CountryAbb.str.replace('GBR','UK')

In [17]:
risk = risk.rename(columns={'xCorp':'xCorp_RiskCategory'})
#risk.head()

In [18]:
# rename column Building Country to CountryAbb
prop = prop.rename(columns={'Building Country':'CountryAbb','NBCU':'NBC_RiskCategory'})
#prop.head()

In [20]:
prop = prop.join(risk.set_index("CountryAbb"),on='CountryAbb')

AttributeError: 'Series' object has no attribute 'set_index'

In [19]:
#prop.head()

In [32]:
# count of null rows per column
prop.isnull().sum()

File Client Id              56
Division                   140
Region                     140
System                     140
EHS/Security Reporting     140
Security Contact           151
Tier 1-5                   151
Country Region             140
Portfolio HUB              140
CountryAbb                 140
Building State/Province    140
Building City              140
Building Address 1         140
Premises Description       242
Building Postal Code       140
Current Expiration Date    159
Rentable Area              140
Lease/Owned                140
Expense or Income          140
Lease Space Use            140
Client Position            140
Landlord Name              145
Tenant Name                164
Country                      5
State  Department          133
NBC_RiskCategory             5
dtype: int64

In [23]:
prop.to_excel('Incident_Model_data_100317.xlsx',index=False)

In [24]:
prop = pd.read_excel('Incident_Model_data_100317.xlsx')
#prop.head()

In [25]:
hr = pd.read_excel("xCorp-OctHC 2017.xlsx")
#hr.head()

IOError: [Errno 2] No such file or directory: 'xCorp-OctHC 2017.xlsx'

In [1]:
hr.columns

NameError: name 'hr' is not defined

In [8]:
hr.groupby(['address','country','city','state']).count().to_excel('Headcount_address.xlsx')

In [ ]:
adv = pd.read_excel("GRIC_Advisories_100217 copy.xlsx")

#drop City_Mapped column to have clean start to run loops
adv.drop('City_Mapped', inplace=True, axis=1)
### fill blank rows with a space so they can be parsed
adv.Advisory = adv.Advisory.fillna("")
#adv.head()

In [12]:
#url = 'https://en.wikipedia.org/wiki/List_of_United_States_cities_by_population'

In [36]:
# df of us cities
us_city = pd.read_excel('UScities.xlsx')

In [33]:
### removes the brackets and numbers from city names in the cities file
us_city.City = cities.City.str.replace(r"\[.*\]","")

In [34]:
us_city['Country'] = 'United States' # assign Country to US cities
us_city = cities.rename(columns={'State[5]':'State'}) # rename column
us_city.to_excel('UScities.xlsx')
us_city.head()

,2016rank,City,State,2016estimate,2010Census,Change,2016 land area,2016 population density,Location,Unnamed: 9,Unnamed: 10,Country
0,1,New York,New York,8537673,8175133,7000443466791304800♠+4.43%,301.5 sq mi,780.9 km2,"28,317/sq mi","10,933/km2",40°39′49″N73°56′19″W/40.6635°N 73.9387°W/40.66...,United States
1,2,Los Angeles,California,3976322,3792621,7000484364243092050♠+4.84%,468.7 sq mi,"1,213.9 km2","8,484/sq mi","3,276/km2",34°01′10″N118°24′39″W/34.0194°N 118.4108°W/34....,United States
2,3,Chicago,Illinois,2704958,2695598,6999347232784710470♠+0.35%,227.3 sq mi,588.7 km2,"11,900/sq mi","4,600/km2",41°50′15″N87°40′54″W/41.8376°N 87.6818°W/41.83...,United States
3,4,Houston,Texas,2303482,2100263,7000967588344888229♠+9.68%,637.5 sq mi,"1,651.1 km2","3,613/sq mi","1,395/km2",29°47′12″N95°23′27″W/29.7866°N 95.3909°W/29.78...,United States
4,5,Phoenix,Arizona,1615017,1445632,7001117170206525590♠+11.72%,517.6 sq mi,"1,340.6 km2","3,120/sq mi","1,200/km2",33°34′20″N112°05′24″W/33.5722°N 112.0901°W/33....,United States

In [42]:
us_city = pd.read_excel('UScities.xlsx')

int_city = pd.read_excel("WorldCities.xlsx")
int_city.head()

,City,Country,Population-City Proper,Population-Metropolitan area,Population-Urban area
0,Shanghai,China,"24,256,800[8]","34,750,000[9]","23,416,000[a]"
1,Beijing,China,"21,516,000[10]","24,900,000[11]",21009000
2,Delhi,India,"16,787,941[12]",24998000,"21,753,486[13]"
3,Lagos,Nigeria,"16,060,303[b]","21,000,000[16]",13123000
4,Karachi,Pakistan,"14,910,352[17]",NaN,NaN

In [17]:
df_cit = pd.concat([us_city,int_city],axis=0,join='outer')

In [64]:
### some of the rows in the Advisory column are stored in weird formats, 
# code below unifies the way each row is displayed as text
#adv['Advisory'] = adv['Advisory'].apply(lambda x: x.decode('utf-8').strip())

In [150]:
''' trying to run the below code on a csv file. Formatting issues with Advisory col'''
#df = pd.read_csv('GRIC_Advisories_100217 copy.csv')
""" looks like some of the rows in the Advisory column are stored in weird formats, 
#so the code below unifies the way each row is displayed as text"""
#adv.to_csv('teswaltesd.csv')
#df['Advisory'] = df['Advisory'].apply(lambda x: x.decode('utf-8').strip())

' looks like some of the rows in the Advisory column are stored in weird formats, \n#so the code below unifies the way each row is displayed as text'

In [5]:
adv['City_Mapped'] = ''

"""This function will loop through each row in the Advisory column
and see if the current city being looped through is contained within that row. The try/except part 
is mainly because some of the text in the Advisory column is causing Encoding Errors.. that usually 
means it's just in a weird format"""

def match_city_to_advisory_details(row):
    try:
        if re.search('{city}'.format(city = city),row.Advisory) is not None:
            row['City_Mapped'] = city
        else:
            pass
    except UnicodeEncodeError:
        pass
    return row

In [73]:
"""This is a for loop that applies the above function to the dataset FOR each unique city in the df_cit.City column"""
"""to avoid the city Cali being associated with California, create an international and a national df"""
for city in us_city['City'].unique():
    adv = adv.apply(lambda row: match_city_to_advisory_details(row), axis = 1)

In [74]:
for city in int_city['City'].unique():
    adv = adv.apply(lambda row: match_city_to_advisory_details(row), axis=1)

In [75]:
# zero out rows where Cali is the City bc Cali, Columbia should not be mapped to California
adv.City = adv.City.str.replace('California',"")

In [76]:
adv.City = adv.City.fillna(adv.City_Mapped)
adv.City = adv.City.str.replace('Cali',"")
#adv.City = adv.City.str.replace('California',"")
adv.City = adv.City.str.replace('Universal City',"")

In [67]:
#for i in adv.City:
#    if adv.City is not None:
#        pass
#    if adv.Country[i] != "California":
#        adv.City.fillna(adv.City_Mapped)

In [89]:
adv.to_excel('GRIC_Advisories_101017.xlsx',index=False)

In [ ]:
adv = pd.read_excel('GRIC_Advisories_101217.xlsx')
#adv.head()

In [ ]:
sorted(adv.City.unique())

In [84]:
adv.City = adv.City.str.replace('New York City', "New York")
adv.City = adv.City.str.replace('New York ', "New York")

In [86]:
adv.City = adv.City.str.replace('Washington ', "Washington D.C.")

In [9]:
# fill null values so below map can work
adv.City = adv.City.fillna("")
# remove any trailing spaces
adv.City = adv.City.map(lambda x: x.strip())